<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
		<listener class-name="utilities.Executor" />
	</listeners>
	
	<test thread-count="5" name="ACCOUNTS">
		<classes>
			<class name="tests.accounts.InventoryProfileHCOAccount_AgencyPartnerUser" />
			<class name="tests.accounts.AffiliationsBetweenTwoHCPRecord" />
			<class name="tests.accounts.CreateEditViewNationalAccount_AgencyPartnerUser" />
			<class name="tests.accounts.AffiliationsFromHCPRecord" />
			<class name="tests.accounts.EditHCOShipToAccount" />
			<class name="tests.accounts.AffiliationsFromHCORecord" />
			<class name="tests.accounts.ViewBillToAccount_AgencyPartnerUser" />
			<class name="tests.accounts.ViewAgencyAccount_AgencyPartnerUser" />
			<class name="tests.accounts.CreateEditViewAgencyAccount_ABDUser" />
			<class name="tests.accounts.AddAccountTeamAgencyAccount_ABDUser" />
			<class name="tests.accounts.ViewAccountTeam_AgencyPartnerUser" />
			<class name="tests.accounts.AffiliationsBetweenHCPAndVendorRecord" />
			<class name="tests.accounts.ValidateStandardizeProfessionalSocieties" />
			<class name="tests.accounts.ViewHCOShipToRecord" />
			<class name="tests.accounts.ViewBusinessAccount_ABDUser" />
			<class name="tests.accounts.ViewOtherAccount_AgencyPartnerUser" />
			<class name="tests.accounts.CreateSecondaryHCPContactFromHCOShipToAccount" />
			<class name="tests.accounts.ValidateAccountsSalesMetrics" />
		</classes>
	</test>
	
	<test thread-count="5" name="ARTHREXECOSYSTEM">
		<classes>
			<class name="tests.arthrexEcosystem.CreateMedProArthrexEcosystem" />
		</classes>
	</test>
	
	<test thread-count="5" name="CAMPAIGNS">
		<classes>
			<class name="tests.Campaigns.AddCampaignMembers" />
			<class name="tests.Campaigns.AddCampaignMembersFromContacts" />
			<class name="tests.Campaigns.Create_View_Campaign" />
		</classes>
	</test>
	
	<test thread-count="5" name="CHATTER">
		<classes>
			<class name="tests.Chatter.CreateNewChatterPost" />
			<class name="tests.Chatter.CreateNewGroup_AgencypartnerUser" />
			<class name="tests.Chatter.CreateNewGroup_ABDUser" />
		</classes>
	</test>
	
	<test thread-count="5" name="CONTACTS">
		<classes>
			<class name="tests.contacts.ValidateNewFieldsForContactsPage" />
			<class name="tests.contacts.Create_Edit_View_DistributorEmployee" />
			<class name="tests.contacts.Edit_View_ArthrexEmployee" />
			<class name="tests.contacts.CreateContactAddress_Manually" />
			<class name="tests.contacts.CreateMailHubFromContactAddress" />
		</classes>
	</test>
	
	
	<test thread-count="5" name="EDUCATIONALPROGRAMS">
		<classes>
			<class name="tests.educationalPrograms.View_EducationalPrograms" />
			<class name="tests.educationalPrograms.Create_EducationalPrograms" />
<!-- 		<class name="tests.educationalPrograms.VerifyEcosystemMappingOrthoPedia" /> -->
		</classes>
	</test>
	
	<test thread-count="5" name="EVENTS">
		<classes>
			<class name="tests.events.CreateEditViewCloneSurgicalCaseEventFromHcpPersonAcc" />
			<class name="tests.events.CreateEditViewCloneSurgicalCaseEventFromOpportunity" />
			<class name="tests.events.CreateEditViewCloneSurgicalCaseEventCalendar" />
			<class name="tests.events.CreateEditViewCloneSurgicalCaseEventFromHCO" />
			<class name="tests.events.CreateEditViewLocalLabEventCalendar" />
	 		<class name="tests.events.CreateEditViewLocalLabEventFromHCO" /> 
			<class name="tests.events.CreateEditViewLocalLabEventFromHcpPersonAcc" />
			<class name="tests.events.CreateEditViewMeetingEventFromCalendar" />
			<class name="tests.events.CreateEditViewMeetingEventFromHCO" />
			<class name="tests.events.CreateEditViewMeetingEventFromHcpPersonAcc" />
			<class name="tests.events.CreateEditViewMeetingEventFromOpportunity" />
			<class name="tests.events.CreateEditViewDemonstrationEventFromCalendar" /> 
	 		<class name="tests.events.CreateEditViewDemonstrationEventFromHCO" /> 
			<class name="tests.events.CreateEditViewDemonstrationEventFromHcpPersonAcc" />
	 		<class name="tests.events.CreateEditViewDemonstrationEventFromOpportunity" />
			<class name="tests.events.CreateEditViewTrainingEventCalendar" />
			<class name="tests.events.ViewGEMSEventsFromCalendar" />
		</classes>
	</test>
	
	<test thread-count="5" name="HIERARCHYPLANNING">
		<classes>
			<class name="tests.HierarchyPlanning.VerifyPagelayout_HierarchyPlanning" />
		</classes>
	</test>
	
	<test thread-count="5" name="HIRINGQUOTA">
		<classes>
			<class name="tests.HiringQuota.HiringQuota_NationalSalesUser" />
		</classes>
	</test>
	
	<test thread-count="5" name="HOME">
		<classes>
			<class name="tests.home.MyProfileHomeVerification" />
			<class name="tests.home.MyProfileDetailsVerification" />
			<class name="tests.home.View_UserProfile" />
		</classes>
	</test>
	
	<test thread-count="5" name="JOURNEYTRACKING">
		<classes>
			<class name="tests.journeyTracking.ViewEditJourneyTracking" />
		</classes>
	</test>
	
	<test thread-count="5" name="LEADSAPP">
		<classes>
			<class name="tests.LeadsApp.CreateNewNonSurgeonAttendee" />
			<class name="tests.LeadsApp.CreateNewConference" />
			<class name="tests.LeadsApp.ConferenceAttendeeUpload" />
			<class name="tests.LeadsApp.CreateNewSurgeonAttendee" />
			<class name="tests.LeadsApp.CreateNewInterest" />
			<class name="tests.LeadsApp.VerifyConferenceMemberStage" />
			<class name="tests.LeadsApp.VerifyConferenceRep" />
			<class name="tests.LeadsApp.VerifyConferenceRepStage" />
			<class name="tests.LeadsApp.VerifyCreatingLeadConferenceAttendeeUpload" />
			<class name="tests.LeadsApp.VerifyCreatingSurgeonConferenceAttendeeUpload" />
		</classes>
	</test>
	
	
	<test thread-count="5" name="LOCATIONS">
		<classes>
			<class name="tests.locations.ViewMexicoMobileLearningCenterLocation" />
		</classes>
	</test>
	
	<test thread-count="5" name="OPPORTUNITIES">
		<classes>
			<class name="tests.opportunities.ViewNationalAccountOpportunity_OtherUsers" />
			<class name="tests.opportunities.ViewAgreementOpportunitySurgeon_AGENCYPARTNER" />
			<class name="tests.opportunities.AgreementOpportunity_AGENCYPARTNER" />
			<class name="tests.opportunities.ArthroplastyOpportunity_AGENCYPARTNER" />
			<class name="tests.opportunities.InstrumentPurchaseOpportunity_AGENCYPARTNER" />
			<class name="tests.opportunities.NationalAccountOpportunity_AGENCYPARTNER" />
			<class name="tests.opportunities.NationalAccountOpportunity_ABDUser" />
			<class name="tests.opportunities.NationalAccountOpportunity_NationalAccountUser" />
			<class name="tests.opportunities.ProductConversionOpportunity_AGENCYPARTNER" />
			<class name="tests.opportunities.StockingOrderOpportunity_AGENCYPARTNER" />
			<class name="tests.opportunities.Create_Edit_View_ServiceRenewalOpportunity"/>
			<class name="tests.opportunities.Create_Edit_SynergyPowerServiceOpportunity" />
			<class name="tests.opportunities.NationalAccountOpportunityRDRejection" />
			<class name="tests.opportunities.IntegrationPipelineOpportunity_AGENCYPARTNER" />
		</classes>
	</test>
	
	<test thread-count="5" name="PERSONACCOUNTS">
		<classes>
			<class name="tests.personAccounts.ViewEditSurgeonPreferenceCardsFromPersonAcc" />
			<class name="tests.personAccounts.CreateEditHcpSurgeonSubscriptionsPersonAcc" />
			<class name="tests.personAccounts.ViewEditHcpRecord" />
			<class name="tests.personAccounts.CreateSurgeonSubscriptions_VerifyWarningMessages" />
			<class name="tests.personAccounts.ViewSecondaryHCPRecord" />
<!-- 		<class name="tests.personAccounts.VerifyMobileMatrixConvertedToPA" /> -->
		</classes>
	</test>
	
	<test thread-count="5" name="POLICIES">
		<classes>
			<class name="tests.policy.ViewPolicy_CommunicationMatrix" />
		</classes>
	</test>
	
	<test thread-count="5" name="PROGRAMPARTICIPANTS">
		<classes>
			<class name="tests.programParticipants.Create_View_PostGraduateTraining" />
		</classes>
	</test>

 
 	<test thread-count="5" name="RESOURCES">
		<classes>
			<class name="tests.resources.Resources" />
		</classes>
	</test>
	
	<test thread-count="5" name="TASKS">
		<classes>
			<class name="tests.tasks.CreateEditDigitalActivityTask" />
			<class name="tests.tasks.CreateAxisActivityTasksOpportunity" />
			<class name="tests.tasks.CreateAxisActivityGeneralTasks" />
			<class name="tests.tasks.CreateEditLeadsAppActivityTask" />
			<class name="tests.tasks.CreateEditAxisActivityTasksSurgicalCase" />
			<class name="tests.tasks.Create_Edit_GeneralTask" />
		</classes>
	</test>
	
	<test thread-count="5" name="TICKETS-HCP">
		<classes>
			<class name="tests.tickets.CreateHierarchyChangeRequestTicket" />
			<class name="tests.tickets.ApprovalProcessTicketsHierarchyChangeRequest" />
			<class name="tests.tickets.ApprovalProcessTicketsHierarchyChangeRequestDenied" />
			<class name="tests.tickets.CreateQuestionTickets" />
			<class name="tests.tickets.CreateNewHcpTickets" />
			<class name="tests.tickets.ViewTicketsAgencyPartner" />
			<class name="tests.tickets.CreateIssueTickets" />
			<class name="tests.tickets.TicketsCreationEditInternalUser" />
			<class name="tests.tickets.CreateSuggestionTickets" />
			<class name="tests.tickets.CreateNewSecondaryHCP" />
			<class name="tests.tickets.CreateHelpAndFeedbackTicket" /> 
			<class name="tests.tickets.CreateCorpCommIntakeForm" /> 
			<class name="tests.tickets.CreateInternalRequest" /> 
			<class name="tests.tickets.CreateTicketsForTicketTypes" /> 
			<class name="tests.tickets.CreateUpdateContactInformation" /> 
<!-- 		<class name="tests.tickets.VerifyValidationRuleClosureForTicketsManually"/> -->
<!-- 		<class name="tests.tickets.VerifyStatusClosureForTicketsManually"/> -->
		</classes>
	</test>
	
	<test thread-count="5" name="TICKETS-FaD">
		<classes>
			<class name="tests.tickets.fad.InitialFaDAddTicket_FaDAdminApprovalProcess" />
			<class name="tests.tickets.fad.InitialFaDAddTicket_RegionalManagerApprovalProcess" />
			<class name="tests.tickets.fad.AddAdditionalLocationsTicket_FaDAdminApprovalProcess" />
			<class name="tests.tickets.fad.AdditionalFaDBrandTicket_RegionalManagerApprovalProcess" />
			<class name="tests.tickets.fad.UpdateFaDTicket_HCPDataValidationApprovalProcess" />
			<class name="tests.tickets.fad.RemoveFaDTicket_HCPDataValidationApprovalProcess" />
			<class name="tests.tickets.fad.AddAdditionalLocationsTicket_FaDAdminRejected" />
			<class name="tests.tickets.fad.AdditionalFaDBrandTicket_RegionalManagerRejected" />
			<class name="tests.tickets.fad.RemoveFaDTicket" />
			<class name="tests.tickets.fad.UpdateFaDTicket_HCPDataValidationReject" />
		</classes>
	</test>
	
	<test thread-count="5" name="TICKETS-ORTHOPEDIA">
		<classes>
			<class name="tests.tickets.orthopedia.ApproveOrthopediaTicketHCPDataValidation" />
			<class name="tests.tickets.orthopedia.AutoApprovalOrthopediaTicket" />
<!-- 		<class name="tests.tickets.orthopedia.BounceEmail" /> -->
			<class name="tests.tickets.orthopedia.OrthopediaTicket_CreateEditView" />
			<class name="tests.tickets.orthopedia.RejectOrthopediaTicketExistingAccountValidation" />
			<class name="tests.tickets.orthopedia.RejectOrthopediaTicketHCPDataValidation" />
		</classes>
	</test>
	

</suite> <!-- Suite -->
